<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <h1>Sidekiq Testing</h1>
  <%= link_to 'Test Sidekiq !', perform_sidekiq_task_path, class: "btn btn-success mt-3" %>
  <%= link_to 'Test Sidekiq in 5 !', perform_sidekiq_task_later_path, class: "btn btn-success mt-3" %>
</div>